# Stripe Configuration
STRIPE_PUBLISHABLE_KEY=pk_live_51QgtpwC60GJFsMJKGcsbIWF6Ff42vD3cOovRneAzYQL800A8U91VwLkw6Dvj7MJ1Kma4M5zcYGF1yc5yRWxXSPGJ00wh0GqYL4
STRIPE_SECRET_KEY=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

# Database
DATABASE_URL="postgresql://username:password@localhost:5432/sovereignitity"

# Email/Fax Services (Optional)
RESEND_API_KEY=re_your_key_here
PHAXIO_API_KEY=your_phaxio_key_here

# Next.js
NEXTAUTH_SECRET=your_secret_here
NEXTAUTH_URL=http://localhost:3000